@font-face{font-family:'remixicon';src:url('/assets/remixicon-subset.woff2') format('woff2');font-display:swap}
[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }
.ri-fw { text-align: center; width: 1.25em; }
.ri-add-circle-line:before{content:"\ea11"}
.ri-add-line:before{content:"\ea13"}
.ri-admin-line:before{content:"\ea15"}
.ri-advertisement-line:before{content:"\ea17"}
.ri-alarm-line:before{content:"\ea1b"}
.ri-alarm-warning-fill:before{content:"\ea1c"}
.ri-alarm-warning-line:before{content:"\ea1d"}
.ri-alert-fill:before{content:"\ea20"}
.ri-alert-line:before{content:"\ea21"}
.ri-apple-fill:before{content:"\ea3f"}
.ri-archive-fill:before{content:"\ea47"}
.ri-archive-line:before{content:"\ea48"}
.ri-arrow-down-line:before{content:"\ea4c"}
.ri-arrow-down-s-line:before{content:"\ea4e"}
.ri-arrow-go-back-fill:before{content:"\ea57"}
.ri-arrow-go-back-line:before{content:"\ea58"}
.ri-arrow-left-line:before{content:"\ea60"}
.ri-arrow-left-s-line:before{content:"\ea64"}
.ri-arrow-right-line:before{content:"\ea6c"}
.ri-arrow-right-s-line:before{content:"\ea6e"}
.ri-arrow-up-circle-line:before{content:"\ea72"}
.ri-arrow-up-line:before{content:"\ea76"}
.ri-arrow-up-s-line:before{content:"\ea78"}
.ri-article-line:before{content:"\ea7e"}
.ri-attachment-2:before{content:"\ea84"}
.ri-award-fill:before{content:"\ea89"}
.ri-award-line:before{content:"\ea8a"}
.ri-bank-card-2-line:before{content:"\ea90"}
.ri-bank-card-fill:before{content:"\ea91"}
.ri-bank-card-line:before{content:"\ea92"}
.ri-bank-line:before{content:"\ea94"}
.ri-bar-chart-2-line:before{content:"\ea96"}
.ri-bar-chart-box-line:before{content:"\ea98"}
.ri-bar-chart-grouped-line:before{content:"\ea9b"}
.ri-bar-chart-line:before{content:"\ea9e"}
.ri-bear-smile-line:before{content:"\eab8"}
.ri-book-2-line:before{content:"\ead3"}
.ri-book-open-line:before{content:"\eadb"}
.ri-bookmark-3-line:before{content:"\eae3"}
.ri-bookmark-line:before{content:"\eae5"}
.ri-braces-line:before{content:"\eae9"}
.ri-brain-line:before{content:"\f2f7"}
.ri-briefcase-line:before{content:"\eaf5"}
.ri-broadcast-line:before{content:"\eaf9"}
.ri-bug-line:before{content:"\eb07"}
.ri-building-line:before{content:"\eb0f"}
.ri-calendar-2-line:before{content:"\eb21"}
.ri-calendar-check-fill:before{content:"\eb22"}
.ri-calendar-check-line:before{content:"\eb23"}
.ri-calendar-close-line:before{content:"\f38e"}
.ri-calendar-event-line:before{content:"\eb25"}
.ri-calendar-line:before{content:"\eb27"}
.ri-calendar-schedule-line:before{content:"\f3f3"}
.ri-camera-line:before{content:"\eb31"}
.ri-chat-1-line:before{content:"\eb4d"}
.ri-chat-3-line:before{content:"\eb51"}
.ri-chat-check-line:before{content:"\eb55"}
.ri-chat-history-line:before{content:"\eb61"}
.ri-chat-off-line:before{content:"\eb65"}
.ri-chat-quote-line:before{content:"\eb6b"}
.ri-chat-smile-2-line:before{content:"\eb6f"}
.ri-check-double-line:before{content:"\eb79"}
.ri-check-fill:before{content:"\eb7a"}
.ri-check-line:before{content:"\eb7b"}
.ri-checkbox-blank-circle-fill:before{content:"\eb7c"}
.ri-checkbox-blank-circle-line:before{content:"\eb7d"}
.ri-checkbox-circle-fill:before{content:"\eb80"}
.ri-checkbox-circle-line:before{content:"\eb81"}
.ri-checkbox-multiple-line:before{content:"\eb89"}
.ri-circle-line:before{content:"\f3c2"}
.ri-clipboard-line:before{content:"\eb91"}
.ri-close-circle-fill:before{content:"\eb96"}
.ri-close-circle-line:before{content:"\eb97"}
.ri-close-line:before{content:"\eb99"}
.ri-cloud-line:before{content:"\eb9d"}
.ri-cloudy-line:before{content:"\eba5"}
.ri-code-line:before{content:"\eba9"}
.ri-code-s-slash-line:before{content:"\ebad"}
.ri-compass-3-line:before{content:"\ebbe"}
.ri-computer-line:before{content:"\ebca"}
.ri-contacts-book-2-line:before{content:"\ebcc"}
.ri-contacts-line:before{content:"\ebd2"}
.ri-contrast-drop-line:before{content:"\ebd8"}
.ri-coupon-3-line:before{content:"\ebe8"}
.ri-coupon-line:before{content:"\ebee"}
.ri-cup-line:before{content:"\ec06"}
.ri-cursor-fill:before{content:"\ec09"}
.ri-cursor-line:before{content:"\ec0a"}
.ri-customer-service-2-line:before{content:"\ec0c"}
.ri-customer-service-line:before{content:"\ec0e"}
.ri-dashboard-3-line:before{content:"\ec12"}
.ri-dashboard-line:before{content:"\ec14"}
.ri-database-2-line:before{content:"\ec16"}
.ri-delete-bin-2-fill:before{content:"\ec1d"}
.ri-delete-bin-2-line:before{content:"\ec1e"}
.ri-delete-bin-6-line:before{content:"\ec26"}
.ri-delete-bin-fill:before{content:"\ec29"}
.ri-delete-bin-line:before{content:"\ec2a"}
.ri-device-line:before{content:"\ec2e"}
.ri-download-2-line:before{content:"\ec54"}
.ri-download-line:before{content:"\ec5a"}
.ri-draft-line:before{content:"\ec5c"}
.ri-drop-line:before{content:"\ec6a"}
.ri-earth-line:before{content:"\ec7a"}
.ri-edit-2-line:before{content:"\ec80"}
.ri-edit-line:before{content:"\ec86"}
.ri-emotion-unhappy-line:before{content:"\ec96"}
.ri-empathize-fill:before{content:"\ec97"}
.ri-empathize-line:before{content:"\ec98"}
.ri-equalizer-line:before{content:"\ec9d"}
.ri-error-warning-fill:before{content:"\eca0"}
.ri-error-warning-line:before{content:"\eca1"}
.ri-exchange-dollar-line:before{content:"\eca9"}
.ri-external-link-line:before{content:"\ecaf"}
.ri-eye-line:before{content:"\ecb5"}
.ri-eye-off-line:before{content:"\ecb7"}
.ri-facebook-circle-fill:before{content:"\ecba"}
.ri-facebook-circle-line:before{content:"\ecbb"}
.ri-facebook-fill:before{content:"\ecbc"}
.ri-facebook-line:before{content:"\ecbd"}
.ri-file-add-line:before{content:"\ecc9"}
.ri-file-check-line:before{content:"\f439"}
.ri-file-close-line:before{content:"\f3b7"}
.ri-file-copy-2-line:before{content:"\ecd3"}
.ri-file-copy-line:before{content:"\ecd5"}
.ri-file-damage-line:before{content:"\ecd7"}
.ri-file-edit-line:before{content:"\ecdb"}
.ri-file-excel-2-line:before{content:"\ecdd"}
.ri-file-line:before{content:"\eceb"}
.ri-file-list-3-line:before{content:"\ecef"}
.ri-file-list-line:before{content:"\ecf1"}
.ri-file-paper-line:before{content:"\ecfb"}
.ri-file-pdf-2-line:before{content:"\f3c7"}
.ri-file-pdf-line:before{content:"\ecfd"}
.ri-file-search-line:before{content:"\ed05"}
.ri-file-shield-2-line:before{content:"\ed09"}
.ri-file-shield-line:before{content:"\ed0b"}
.ri-file-shred-line:before{content:"\ed0d"}
.ri-file-text-fill:before{content:"\ed0e"}
.ri-file-text-line:before{content:"\ed0f"}
.ri-file-transfer-line:before{content:"\ed11"}
.ri-file-unknow-line:before{content:"\ed13"}
.ri-file-upload-line:before{content:"\ed15"}
.ri-file-word-2-line:before{content:"\ed1b"}
.ri-filter-2-line:before{content:"\ed23"}
.ri-filter-3-line:before{content:"\ed25"}
.ri-filter-line:before{content:"\ed27"}
.ri-filter-off-line:before{content:"\ed29"}
.ri-fire-line:before{content:"\ed33"}
.ri-flashlight-line:before{content:"\ed3d"}
.ri-flask-line:before{content:"\ed3f"}
.ri-flight-land-line:before{content:"\ed41"}
.ri-flight-takeoff-line:before{content:"\ed43"}
.ri-flow-chart:before{content:"\ed46"}
.ri-focus-3-line:before{content:"\ed4c"}
.ri-folder-3-line:before{content:"\ed54"}
.ri-folder-line:before{content:"\ed6a"}
.ri-folder-open-line:before{content:"\ed70"}
.ri-folder-received-line:before{content:"\ed72"}
.ri-folder-shield-2-line:before{content:"\ed7a"}
.ri-footprint-fill:before{content:"\ed90"}
.ri-forbid-line:before{content:"\ed95"}
.ri-funds-box-line:before{content:"\eda1"}
.ri-funds-line:before{content:"\eda3"}
.ri-gemini-line:before{content:"\f540"}
.ri-gift-2-line:before{content:"\edb9"}
.ri-gift-line:before{content:"\edbb"}
.ri-git-branch-line:before{content:"\edbd"}
.ri-git-merge-line:before{content:"\edc1"}
.ri-global-line:before{content:"\edcf"}
.ri-google-fill:before{content:"\edd4"}
.ri-google-line:before{content:"\edd5"}
.ri-government-line:before{content:"\edd9"}
.ri-graduation-cap-line:before{content:"\f333"}
.ri-grid-line:before{content:"\eddf"}
.ri-group-line:before{content:"\ede3"}
.ri-guide-line:before{content:"\ede5"}
.ri-hand-heart-line:before{content:"\edf3"}
.ri-hashtag:before{content:"\edfc"}
.ri-heart-fill:before{content:"\ee0e"}
.ri-heart-line:before{content:"\ee0f"}
.ri-heart-pulse-fill:before{content:"\ee10"}
.ri-heart-pulse-line:before{content:"\ee11"}
.ri-history-line:before{content:"\ee17"}
.ri-home-2-line:before{content:"\ee19"}
.ri-home-4-line:before{content:"\ee1d"}
.ri-home-5-line:before{content:"\ee1f"}
.ri-home-gear-line:before{content:"\ee28"}
.ri-home-heart-line:before{content:"\ee2a"}
.ri-home-line:before{content:"\ee2b"}
.ri-home-smile-line:before{content:"\ee2f"}
.ri-hospital-line:before{content:"\ee37"}
.ri-hotel-line:before{content:"\ee3b"}
.ri-id-card-line:before{content:"\f4e9"}
.ri-image-2-line:before{content:"\ee45"}
.ri-image-add-line:before{content:"\ee47"}
.ri-image-edit-line:before{content:"\ee49"}
.ri-image-line:before{content:"\ee4b"}
.ri-inbox-archive-line:before{content:"\ee4d"}
.ri-inbox-line:before{content:"\ee4f"}
.ri-indeterminate-circle-line:before{content:"\ee57"}
.ri-information-fill:before{content:"\ee58"}
.ri-information-line:before{content:"\ee59"}
.ri-instagram-line:before{content:"\ee66"}
.ri-key-2-line:before{content:"\ee6f"}
.ri-key-line:before{content:"\ee71"}
.ri-layout-2-line:before{content:"\ee7f"}
.ri-layout-grid-line:before{content:"\ee90"}
.ri-leaf-line:before{content:"\eea3"}
.ri-lightbulb-flash-line:before{content:"\eea8"}
.ri-lightbulb-line:before{content:"\eea9"}
.ri-line-chart-line:before{content:"\eeab"}
.ri-link:before{content:"\eeb2"}
.ri-link-m:before{content:"\eeaf"}
.ri-link-unlink:before{content:"\eeb1"}
.ri-link-unlink-m:before{content:"\eeb0"}
.ri-links-line:before{content:"\eeb8"}
.ri-list-check:before{content:"\eeba"}
.ri-list-check-2:before{content:"\eeb9"}
.ri-list-unordered:before{content:"\eebe"}
.ri-loader-4-line:before{content:"\eec6"}
.ri-lock-2-line:before{content:"\eecc"}
.ri-lock-fill:before{content:"\eecd"}
.ri-lock-line:before{content:"\eece"}
.ri-lock-password-fill:before{content:"\eecf"}
.ri-lock-password-line:before{content:"\eed0"}
.ri-login-box-line:before{content:"\eed4"}
.ri-login-circle-line:before{content:"\eed6"}
.ri-logout-box-line:before{content:"\eed8"}
.ri-logout-box-r-line:before{content:"\eeda"}
.ri-logout-circle-line:before{content:"\eedc"}
.ri-logout-circle-r-line:before{content:"\eede"}
.ri-loop-right-line:before{content:"\f33f"}
.ri-magic-line:before{content:"\eeea"}
.ri-mail-add-line:before{content:"\eeec"}
.ri-mail-check-line:before{content:"\eeee"}
.ri-mail-close-line:before{content:"\eef0"}
.ri-mail-forbid-line:before{content:"\eef5"}
.ri-mail-line:before{content:"\eef6"}
.ri-mail-open-line:before{content:"\eefa"}
.ri-mail-send-line:before{content:"\eefc"}
.ri-mail-settings-line:before{content:"\eefe"}
.ri-mail-unread-line:before{content:"\ef02"}
.ri-map-2-line:before{content:"\ef06"}
.ri-map-pin-2-fill:before{content:"\ef09"}
.ri-map-pin-2-line:before{content:"\ef0a"}
.ri-map-pin-add-line:before{content:"\ef12"}
.ri-map-pin-fill:before{content:"\ef13"}
.ri-map-pin-line:before{content:"\ef14"}
.ri-medal-line:before{content:"\ef28"}
.ri-medicine-bottle-fill:before{content:"\ef29"}
.ri-megaphone-line:before{content:"\f385"}
.ri-mental-health-line:before{content:"\ef30"}
.ri-menu-fold-line:before{content:"\ef3d"}
.ri-menu-line:before{content:"\ef3e"}
.ri-menu-unfold-line:before{content:"\ef40"}
.ri-message-2-line:before{content:"\ef44"}
.ri-message-3-fill:before{content:"\ef45"}
.ri-message-3-line:before{content:"\ef46"}
.ri-messenger-line:before{content:"\ef4a"}
.ri-meta-fill:before{content:"\f342"}
.ri-microsoft-line:before{content:"\ef58"}
.ri-money-dollar-circle-fill:before{content:"\ef64"}
.ri-money-dollar-circle-line:before{content:"\ef65"}
.ri-moon-line:before{content:"\ef75"}
.ri-more-2-fill:before{content:"\ef76"}
.ri-more-line:before{content:"\ef79"}
.ri-notification-3-line:before{content:"\ef94"}
.ri-notification-line:before{content:"\ef9a"}
.ri-notification-off-line:before{content:"\ef9c"}
.ri-openai-line:before{content:"\f34b"}
.ri-pages-line:before{content:"\efbf"}
.ri-pause-circle-line:before{content:"\efd6"}
.ri-pencil-line:before{content:"\efe0"}
.ri-pencil-ruler-2-line:before{content:"\efe2"}
.ri-percent-line:before{content:"\efe6"}
.ri-phone-fill:before{content:"\efe9"}
.ri-phone-line:before{content:"\efec"}
.ri-pie-chart-line:before{content:"\effa"}
.ri-plane-fill:before{content:"\f004"}
.ri-plane-line:before{content:"\f005"}
.ri-play-circle-line:before{content:"\f009"}
.ri-play-line:before{content:"\f00b"}
.ri-plug-line:before{content:"\f019"}
.ri-price-tag-3-fill:before{content:"\f022"}
.ri-price-tag-3-line:before{content:"\f023"}
.ri-printer-line:before{content:"\f029"}
.ri-pulse-line:before{content:"\f035"}
.ri-qr-code-line:before{content:"\f03d"}
.ri-question-answer-line:before{content:"\f043"}
.ri-question-line:before{content:"\f045"}
.ri-questionnaire-line:before{content:"\f048"}
.ri-radar-line:before{content:"\f04c"}
.ri-radio-button-line:before{content:"\f050"}
.ri-receipt-line:before{content:"\f458"}
.ri-record-circle-line:before{content:"\f05a"}
.ri-reddit-line:before{content:"\f062"}
.ri-refresh-line:before{content:"\f064"}
.ri-refund-2-line:before{content:"\f066"}
.ri-refund-line:before{content:"\f068"}
.ri-repeat-line:before{content:"\f074"}
.ri-reply-line:before{content:"\f07a"}
.ri-rest-time-line:before{content:"\f07e"}
.ri-restart-line:before{content:"\f080"}
.ri-restaurant-line:before{content:"\f084"}
.ri-robot-line:before{content:"\f092"}
.ri-rocket-2-line:before{content:"\f094"}
.ri-rocket-line:before{content:"\f096"}
.ri-route-line:before{content:"\f09b"}
.ri-save-3-line:before{content:"\f0b1"}
.ri-save-line:before{content:"\f0b3"}
.ri-scales-3-line:before{content:"\f0b7"}
.ri-scales-line:before{content:"\f0b9"}
.ri-search-2-line:before{content:"\f0cd"}
.ri-search-eye-line:before{content:"\f0cf"}
.ri-search-line:before{content:"\f0d1"}
.ri-secure-payment-line:before{content:"\f0d3"}
.ri-send-plane-2-line:before{content:"\f0d8"}
.ri-send-plane-fill:before{content:"\f0d9"}
.ri-send-plane-line:before{content:"\f0da"}
.ri-server-line:before{content:"\f0e0"}
.ri-service-fill:before{content:"\f0e1"}
.ri-service-line:before{content:"\f0e2"}
.ri-settings-3-line:before{content:"\f0e6"}
.ri-settings-4-line:before{content:"\f0e8"}
.ri-share-circle-line:before{content:"\f0f6"}
.ri-share-forward-fill:before{content:"\f0fc"}
.ri-share-forward-line:before{content:"\f0fd"}
.ri-share-line:before{content:"\f0fe"}
.ri-shield-check-fill:before{content:"\f0ff"}
.ri-shield-check-line:before{content:"\f100"}
.ri-shield-cross-fill:before{content:"\f101"}
.ri-shield-cross-line:before{content:"\f102"}
.ri-shield-keyhole-line:before{content:"\f107"}
.ri-shield-line:before{content:"\f108"}
.ri-shield-star-fill:before{content:"\f109"}
.ri-shield-star-line:before{content:"\f10a"}
.ri-shield-user-line:before{content:"\f10c"}
.ri-shopping-bag-3-line:before{content:"\f116"}
.ri-shopping-bag-line:before{content:"\f118"}
.ri-shopping-cart-2-line:before{content:"\f11e"}
.ri-shopping-cart-line:before{content:"\f120"}
.ri-skip-forward-line:before{content:"\f144"}
.ri-skull-line:before{content:"\f14a"}
.ri-smartphone-line:before{content:"\f15a"}
.ri-sort-asc:before{content:"\f15f"}
.ri-sort-desc:before{content:"\f160"}
.ri-spam-2-line:before{content:"\f169"}
.ri-spam-line:before{content:"\f16d"}
.ri-sparkling-2-line:before{content:"\f36b"}
.ri-spy-fill:before{content:"\f17e"}
.ri-stack-line:before{content:"\f181"}
.ri-star-fill:before{content:"\f186"}
.ri-star-line:before{content:"\f18b"}
.ri-star-smile-line:before{content:"\f18f"}
.ri-stethoscope-line:before{content:"\f197"}
.ri-sticky-note-add-line:before{content:"\f466"}
.ri-sticky-note-line:before{content:"\f19b"}
.ri-store-2-line:before{content:"\f1a5"}
.ri-store-line:before{content:"\f1a9"}
.ri-subtract-line:before{content:"\f1af"}
.ri-survey-line:before{content:"\f1c7"}
.ri-table-2:before{content:"\f1da"}
.ri-team-line:before{content:"\f1ee"}
.ri-test-tube-line:before{content:"\f1fc"}
.ri-tiktok-fill:before{content:"\f372"}
.ri-tiktok-line:before{content:"\f373"}
.ri-time-fill:before{content:"\f20e"}
.ri-time-line:before{content:"\f20f"}
.ri-timer-2-line:before{content:"\f211"}
.ri-timer-flash-fill:before{content:"\f213"}
.ri-timer-flash-line:before{content:"\f214"}
.ri-toggle-line:before{content:"\f219"}
.ri-tools-line:before{content:"\f21b"}
.ri-trophy-line:before{content:"\f22f"}
.ri-twitter-x-line:before{content:"\f3e7"}
.ri-upload-2-line:before{content:"\f24a"}
.ri-upload-cloud-2-line:before{content:"\f24c"}
.ri-upload-cloud-line:before{content:"\f24e"}
.ri-user-3-line:before{content:"\f256"}
.ri-user-add-line:before{content:"\f25e"}
.ri-user-follow-line:before{content:"\f261"}
.ri-user-forbid-line:before{content:"\f3be"}
.ri-user-heart-line:before{content:"\f263"}
.ri-user-line:before{content:"\f264"}
.ri-user-received-line:before{content:"\f26a"}
.ri-user-search-line:before{content:"\f26c"}
.ri-user-settings-line:before{content:"\f26e"}
.ri-user-shared-line:before{content:"\f272"}
.ri-user-star-line:before{content:"\f276"}
.ri-user-unfollow-fill:before{content:"\f277"}
.ri-user-unfollow-line:before{content:"\f278"}
.ri-user-voice-line:before{content:"\f27a"}
.ri-verified-badge-fill:before{content:"\f3e8"}
.ri-verified-badge-line:before{content:"\f3e9"}
.ri-video-chat-line:before{content:"\f27e"}
.ri-video-line:before{content:"\f282"}
.ri-video-upload-line:before{content:"\f284"}
.ri-vidicon-line:before{content:"\f288"}
.ri-vip-crown-2-line:before{content:"\f28c"}
.ri-vip-crown-fill:before{content:"\f28d"}
.ri-vip-crown-line:before{content:"\f28e"}
.ri-volume-down-line:before{content:"\f29c"}
.ri-volume-mute-line:before{content:"\f29e"}
.ri-volume-up-line:before{content:"\f2a2"}
.ri-walk-line:before{content:"\f2a8"}
.ri-wallet-3-line:before{content:"\f2ac"}
.ri-webhook-line:before{content:"\f520"}
.ri-whatsapp-line:before{content:"\f2bc"}
.ri-wifi-off-line:before{content:"\f2c2"}
.ri-window-line:before{content:"\f2c6"}
.ri-youtube-line:before{content:"\f2d5"}
.ri-zoom-in-line:before{content:"\f2db"}
